<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>消息管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href='@{/css/message.css}' rel='stylesheet' />
<script th:src="@{/js/own/message2.js}"></script>
</head>
<body>
	<div layout:fragment="content">
		<ol class="breadcrumb">
			<li><a href="#">首页</a></li>
			<li><a href="#">消息管理</a></li>
		</ol>
		<div class="alert alert-danger alert-dismissable"
			style="display: none" id="warning">
			<button type="button" class="close" data-dismiss="alert"
				aria-hidden="true">&times;</button>
			<lable id="warning-lable"></lable>
		</div>
		<button class="btn btn-primary btn-lg" data-toggle="modal"
			data-target="#myModal">增加用户</button>
		<table class="table table-hover" id="message-table">
			<thead>
				<tr>
					<th>用户</th>
					<th>密码</th>
					<th>电子邮箱</th>
					<th>班级</th>
					<th>更改/删除</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<div class="col-sm-4 col-lg-4" style="padding-left: 0px;">
		<ul style="list-style: none; float:left;padding-left: 0px;">
			<li class="paging-element">每页显示</li>
			<li class="paging-number" id="pageSize3">3</li>
			<li class="paging-number" id="pageSize5">5</li>
			<li class="paging-number" id="pageSize10">10</li>
			<li class="paging-element">条记录,</li>
			<li class="paging-element">共有<b id="totalRecords">3</b>条数据</li>
		</ul>
		</div>
		<div class="col-sm-8 col-lg-8" style="text-align:right">
			<button id="toLeft">&lt;</button>
			<b id="currPage">1</b>
			<button id="toRight">&gt;</button>
			<b>到第</b> 
			<input style="width: 30px; height: 30px; border: 1px solid #CCC" id="toPage-input"></input>
			<b>页</b>
			<button id="jumpPage">确定</button>
		</div>
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">添加</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label for="modal-title" class="col-sm-2 control-label">用户</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="modal-username"
										placeholder="请输入用户" />
								</div>
							</div>
							<div class="form-group">
								<label for="modal-content" class="col-sm-2 control-label">密码</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="modal-password"
										placeholder="请输入密码" />
								</div>
							</div>
							<div class="form-group">
								<label for="modal-content" class="col-sm-2 control-label">邮箱</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="modal-email"
										placeholder="请输入邮箱" />
								</div>
							</div>
							<div class="form-group">
								<label for="modal-content" class="col-sm-2 control-label">班级</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="modal-grade"
										placeholder="请输入班级" />
								</div>
							</div>

						</form>


					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭
						</button>
						<button type="button" class="btn btn-primary" id="add-message">提交更改</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="updateModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">修改</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label id="update-id" hidden="true">122</label> <label
									for="modal-title" class="col-sm-2 control-label">用户</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="update-username"
										placeholder="请输入标题" />
								</div>
							</div>
							<div class="form-group">
								<label for="modal-content" class="col-sm-2 control-label">密码</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="update-password"
										placeholder="请输入密码" />
								</div>
							</div>
							<div class="form-group">
								<label for="modal-content" class="col-sm-2 control-label">email</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="update-email"
										placeholder="请输入密码" />
								</div>
							</div>
							<div class="form-group">
								<label for="modal-content" class="col-sm-2 control-label">grade</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="update-grade"
										placeholder="请输入密码" />
								</div>
							</div>

						</form>


					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭
						</button>
						<button type="button" class="btn btn-primary" id="update-message">提交更改</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
	</div>
</body>

</html>